extends layout 

block content 
  h1= title 
  p Welcome to #{title}

  if error
    each error in errors 
      p= error.params
      p = error.msg
    
  form(action="/login", method="post")
    .mb-3.m
      label.form-label(for='username') Username
      input#username.form-control(type='text', name="username")
    .mb-3
      label.form-label(for='password') Password
      input#password.form-control(type='password', name="password")
    button.btn.btn-primary(type='submit', name='submit') Login